.aviso {
    color: rgb(128, 23, 128);
}

.formulario {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid lightblue;
    border-radius: 10px;
    background-image: url('./Imagem.jpg');
    background-size: cover; 
    background-position: center; 
    color: white;
}

.campo {
    margin-bottom: 15px;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.titulo{

    color: black;
}


